/* animation-name: mostrarImagen;
animation-duration: 1s;
animation-timing-function: ease-in-out;
animation-delay: 0s;
animation-iteration-count: 1; 

animation: 1s ease-in-out 0s 1 mostrarImagen;
*/

@keyframes mostrarImagenDerecha {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes mostrarImagenizquierda {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes mostrarImagenAbajo {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes mostrarImagenArriba {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}